<h1>Logo</h1>

<p>Hi <% @user.name %>,</p>

<p>Welcome to griever! To finish your account activation, click on the link below.</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
